# Python environment and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
jarvis-env/

# API keys
config/api_keys.json

.env
jarvis_memory/chroma.sqlite3
jarvis_memory/short_term.db
